/* video player styles  */
.video-player {
  width: 100%;
  position: relative;
}

.video-player__controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.video-info h5 {
  color: var(--site-white-color);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 550;
}

.video-player__middle-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-controls-icon i {
  color: #777;
  font-size: 30px;
  transform: scale(0.8);
  translate: all 0.5s;
  margin: 10px;
  cursor: pointer;
}

.player-controls-icon i:hover {
  transform: scale(1);
  color: var(--site-white-color);
}

.video-player__bottom-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.video-player__slider {
  width: 100%;
  margin: 10;
  cursor: pointer;
}

.bottom-controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.video-player__bottom-controls-play-icon i {
  color: #999;
  font-size: 35px;
  transform: scale(0.8);
  translate: all 0.5s;
  cursor: pointer;
}

.video-player__bottom-controls-play-icon i:hover {
  transform: scale(1);
  color: var(--site-white-color);
}

.video-player__bottom-controls-volume-icon i {
  color: #999;
  font-size: 35px;
  transform: scale(0.8);
  translate: all 0.5s;
  cursor: pointer;
}

.video-player__bottom-controls-volume-icon i:hover {
  transform: scale(1);
  color: var(--site-white-color);
}

.video-player__volume-slider {
  width: 140px;
  margin-left: 10px;
  cursor: pointer;
}

.video-player__playback-time {
  color: var(--site-white-color);
  margin-left: 15px;
  flex: 1;
}

.video-player__playback-rate {
  color: var(--site-white-color);
  margin-right: 15px;
}

.video-player__playback-rate-btn,
.video-player__playback-rate-btn:hover {
  background-color: transparent;
  border: none;
  color: var(--site-white-color);
  font-size: 16px;
  padding: 13px;
}

.playback-rate__btn-item {
  display: block;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fff;
}

.video-player__fullscreen i {
  color: var(--site-white-color);
  font-size: 25px;
  cursor: pointer;
}
