/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --site-blue-color: #5e72e4;
  --site-red-color: #f5365c;
  --site-orange-color: #ff3b30;
  --site-green-color: #7BDB97;
  --site-alt-green: #f4fff2;
  --site-dark-color: #242121;
  --site-subtle-dark: #3d3d3d;
  --site-grey-color: #e6e5e5;
  --site-secondary-grey: #f4f5f7;
  --site-white-color: #ffffff;
  --alt-text-color: #807d7d;
  --background-black: #3d3c3c;
}



body {
  font-family: Lato, sans-serif;
}

