.progress-container {
    display: flex;
    align-items: center;
    margin: 8px auto;
    text-align: center;
    justify-content: center;
}

.step-counter-number {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    background-color: #e2dcdc;
    color: var(--site-white-color);
    text-align: center;
    font-weight: 900;
    font-size: 23px;
    padding: 8px;
}

.step-counter-text {
    color: var(--background-black);
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    margin-top: 4px;
}

.step-counter-number__coloured{
    background-color: var(--background-black);
}

.setup-info {
    color: var(--alt-text-color);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 30px;
}

.account-setup__page-one .form-group {
    position: relative;
    margin-bottom: 4vh;
}

.account-setup__page-one .form__input {
  border-radius: 3px;
  font-size: 16px;
  transition: all 0.3s;
  width: 100%;
  display: block;
  border: .5px solid #cad1d7;
  padding: 12px 22px;
  color: var(--alt-text-color);
  box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%)
}

.account-setup__page-one .form__input::-webkit-input-placeholder{
  color: #cad1d7;
}

.account-setup__page-one .form__input:placeholder-shown + .form__label{
    opacity: 0;
    visibility: hidden;
    transform: translateY(3px);
}

.form__label{
    color: #cad1d7;
    margin-left: 20px;
    display: block;
    position: absolute;
    transition: all 0.3s;
    background-color: var(--site-white-color);
    top: 0;
    margin-top: -9px !important;
    padding-left: 5px;
    padding-right: 5px;
}

.accout-setup-btn {
    color: var(--site-subtle-dark);
    background-color: var(--site-white-color);
    border: .5px solid var(--site-subtle-dark);
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.accout-setup-btn:hover{
    color: var(--site-subtle-dark);
    background-color: var(--site-white-color);
    border: .5px solid var(--site-subtle-dark);
    border-radius: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.username-info {
    background-color: var(--background-black);
    color: var(--site-white-color);
    width: 190px;
    height: 160px;
    padding: 20px;
    border-radius: 3px;
    position: absolute;
    right: -210px;
    top: 0;
}

.username-info::before {
    content: "";
    background-color: var(--background-black);
    border-radius: 3px;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -11px;
    transform: rotate(45deg);
}

@media screen and (max-width: 840px) {
    .username-info {
        background-color: var(--background-black);
        color: var(--site-white-color);
        max-width: 190px;
        max-height: 160px;
        padding: 15px;
        border-radius: 3px;
        position: absolute;
        right: -40px;
        top: 70px;
    }
    .username-info::before{
        content: "";
        background-color: var(--background-black);
        border-radius: 3px;
        width: 25px;
        height: 25px;
        position: absolute;
        top: -11px;
        left: 15px;
        transform: rotate(45deg);
    }
}