.card-style {
    padding: 20px;
}

.card-style .form-group {
    margin-bottom: 6vh;
}

.page-heading {
    color: var(--alt-text-color);
    margin-bottom: 3vh;
    font-weight: 580;
}

.remove-margin {
    margin-bottom: 1px !important;
}

.terms-condition-text {
    font-size: 13px;
    margin: 20px 0;
    color: var(--alt-text-color);
}

.terms-and-condition-checkbox:active .terms-and-condition-checkbox:active:checked{
    background-color:var(--site-subtle-dark);
}

.terms-condition-text .terms-condition-highlight{
    font-weight: 800;
    font-size: 12.8px;
    color: var(--site-subtle-dark);
}

.login-cta {
    font-size: 13px;
    color: var(--alt-text-color);
}

.login-cta a{
    color: var(--site-red-color);
}

.card-style .signin-btn {
    color: var(--site-subtle-dark);
    background-color: var(--site-white-color);
    border: .5px solid var(--site-subtle-dark);
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

@media screen and (min-width: 992px) {
    .card-style {
        padding: 20px;
        width: 400px;
    }
}