.page-contents {
  background-color: #272727;
  width: 100%;
  height: 130vh;
}

.cart-title {
  border-bottom: 1px solid #fff;
}

.cart-title h3 {
  color: #fff;
  font-weight: 500;
  padding-top: 3.5vh;
  padding-bottom: 0.5vh;
  font-weight: 600;
}

.cart-container {
  margin-top: 6vh;
}

.cart-item-basic-info {
  display: flex;
}

.cart-list {
  padding-right: 15px;
  height: 600px;
  overflow-y: auto;
}

.cart-list::-webkit-scrollbar {
  width: 12px;
}

.cart-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.cart-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3d3c3c;
}

.cart-item {
  border: 1px solid #c4c4c4;
  padding: 3vh 5vw;
  border-radius: 3px;
}

.cart-item-basic-info-and-old-price {
  display: flex;
  justify-content: space-between;
}

.cart-item-details-img-contain {
  margin-right: 0.7vw;
}

.cart-item-details-img-contain img {
  width: 220px;
  border-radius: 5px;
  height: 180px;
}

.cart-item-about h3 {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}

/* .cart-item-about {
} */

.cart-item-summary {
  color: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
}

.cart-item-about .episode-number {
  color: #fff;
  margin-top: 6px;
}

.old-price h2 {
  color: #545454;
  font-size: 56px;
  font-weight: 700;
  text-decoration: line-through;
}

.cart-actions-and-valid-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-price h2 {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
}

.cart-actions {
  display: flex;
  width: 70%;
}

.cart-actions-btn {
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  color: #fff;
  border: 0.7px solid #fff;
  background-color: #272727;
}

.cart-actions-btn:hover,
.cart-actions-btn:active {
  color: #fff !important;
  border: 0.7px solid #fff !important;
  background-color: #272727 !important;
}

.cart-subtotal {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-subtotal h4 {
  color: #fff;
  font-weight: 830;
  font-size: 45px;
}

.cart-tax {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
}

.cart-total {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 16px;
}

.checkout-btn {
  color: #fff;
  background-color: #569d6b;
  border: 0;
  border-radius: 0;
}

.checkout-btn:hover,
.checkout-btn:active {
  color: #fff !important;
  background-color: #569d6b !important;
}

@media screen and (max-width: 770px) {
  .page-contents {
    height: fit-content;
  }
}

@media screen and (max-width: 600px) {
  .old-price h2 {
    font-size: 26px;
  }
  .cart-price h2 {
    font-size: 26px;
  }
  .cart-item-details-img-contain img {
    display: none;
  }
}

@media screen and (max-width: 390px) {
  .cart-item-basic-info-and-old-price,
  .cart-actions-and-valid-price,
  .cart-actions {
    flex-direction: column;
  }
}
