.page-navbar {
  background-color: #3d3c3c;
}

.page-navbar-button,
.page-navbar-button:hover,
.page-navbar-button:active {
  background-color: #3d3c3c !important;
  color: #fff !important;
  border: none !important;
  margin-bottom: 5px;
  box-shadow: none;
}
