.messages-page .page-title {
  font-weight: 800;
  font-size: 24px;
  color: var(--site-dark-color);
}

.messages-page__contents {
  margin: 0 auto;
  width: 80%;
  padding-top: 12vh;
}

.messages-container {
  margin-top: 20px;
}

.messages-item {
  width: 70%;
  display: flex;
  margin-bottom: 19px;
}

.messages-item__first-letter {
  border-radius: 50%;
  background-color: #d8ffdc;
  padding: 5px;
  color: var(--alt-text-color);
  font-weight: 800;
  font-size: 38px;
  height: 70px;
  width: 70px;
  text-align: center;
}

.message-item-info {
  border-bottom: 0.4px solid var(--alt-text-color);
  flex: 1;
  padding: 2vh 2.4vw;
  display: flex;
}

.messages-item__recipient-details {
  flex: 1;
}

.recipient-name {
  margin-bottom: 5px;
  color: var(--site-dark-color);
  font-size: 18px;
  font-weight: 800;
}

.recipient-message {
  margin: 0;
  color: var(--alt-text-color);
  font-weight: 700;
  font-size: 16px;
}

.message-timestamp {
  text-align: right;
  color: var(--alt-text-color);
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 7px;
}

.message-unread-conuter {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  background-color: #d8ffdc;
  text-align: center;
  color: var(--site-dark-color);
  font-size: 17px;
  font-weight: 700;
  margin-left: auto;
}
