.sales-page__contents {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: var(--site-white-color);
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section-header {
  border-bottom: 1px solid var(--site-dark-color);
  padding-bottom: 10px;
  color: var(--site-subtle-dark);
  font-weight: 600;
  margin-bottom: 8vh;
}

.payment-setup__contents {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  background-color: var(--site-white-color);
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.payment-method__item {
  display: flex;
  margin: 5vh auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.payment-method__item img {
  width: 140px;
  height: 50px;
}

.payment-method__item-btn,
.payment-method__item-btn:hover,
.payment-method__item-btn:active {
  color: var(--site-subtle-dark) !important;
  border: 1px solid var(--site-subtle-dark);
  box-shadow: none;
  background-color: var(--site-white-color) !important;
}

.subscription-info {
  margin-top: 20px;
}

.subscription-info-text {
  font-size: 17px;
  color: var(--alt-text-color);
}

.subscription-actions {
  display: flex;
}

.subscription-cost-container {
  text-align: center;
  color: var(--alt-text-color);
  padding: 12px 40px;
  border: 1px solid var(--site-dark-color);
  border-radius: 4px;
  font-weight: 600;
  font-size: 20px;
  background-color: var(--site-white-color);
}

.subscription-accept-button {
  background-color: var(--site-dark-color);
  color: var(--site-white-color);
  padding: 12px 40px;
  box-shadow: none;
  margin-left: 15px;
}

.subscription-accept-button:hover {
  background-color: var(--site-dark-color);
  color: var(--site-white-color);
}

.chart {
  background-color: #d8ffdc;
}

.total-sales-info_container {
  color: var(--alt-text-color);
}

.sales-breakdown__info h1 {
  color: var(--alt-text-color);
  font-weight: 800;
  font-size: 50px;
}

.total-sales_info {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.monthly-sale-info_container {
  color: var(--alt-text-color);
}

.monthly-sale_info {
  font-weight: 500;
  padding: 0;
  margin: 0;
}

/* styles for our toggle Buttons */

.switch {
  position: relative;
  display: inline-block;
  width: 130px;
  min-width: 110px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff6060;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #161950;
}

input:checked + .slider:before {
  -webkit-transform: translateX(98px);
  -ms-transform: translateX(98px);
  transform: translateX(98px);
}

/*------ ADDED CSS ---------*/
.on {
  display: none;
}

.on,
.off {
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 15px;
}

input:checked + .slider .on {
  display: block;
}

input:checked + .slider .off {
  display: none;
}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
