.video-preview-container {
  background-color: var(--site-white-color);
  width: 90%;
  min-height: 80vh;
  padding: 20px;
  margin: 7vh auto;
}

.video-preview-page-controls {
  display: flex;
  align-items: center;
}

.video-preview-page-controls .nav-wrapper {
  width: 60%;
  margin: 0 auto;
}

.previous-page-arrow i {
  color: var(--site-dark-color);
  font-size: 25px;
}

.video-preview-page-controls .nav-pills .nav-link {
  cursor: pointer;
  background-color: var(--background-grey);
  border-radius: 27px;
  color: #949191;
  box-shadow: none;
  transition: all 0.3s;
  font-weight: 400;
  font-size: 16px;
}

.video-preview-page-controls .nav-pills .nav-link:hover {
  color: var(--site-white-color);
  background-color: #494949;
}

.video-preview-page-controls .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--site-white-color);
  background-color: #494949;
}

.tab-contents .card {
  border: none;
}

.tab-contents .page-title {
  font-weight: 600;
  color: var(--site-dark-color);
  font-size: 18px;
}

.tab-contents .video-name {
  color: var(--alt-text-color);
  font-weight: 700;
  font-size: 30px;
}

.tab-contents .comments-container {
  margin-top: 8vh;
  margin-left: 2vw;
  padding-bottom: 3vh;
  border-bottom: 1px solid var(--site-dark-color);
}

.tab-contents .comments-item {
  display: flex;
}

.tab-contents .comments-item .comment-user-avatar {
  height: 80px;
  width: 80px;
  overflow: hidden;
  margin-right: 1.3vw;
}

.tab-contents .comments-item .comment-item__details {
  flex: 2;
}

.comment-name-and-timestamp {
  display: flex;
  margin-bottom: 2px;
}

.comment-name-and-timestamp p {
  color: #569d6b;
  margin: 0;
  padding: 0;
}

.comment-name-and-timestamp span {
  color: #6f6c6c;
}

.comment-text p {
  width: 80%;
  color: var(--site-subtle-dark);
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 15px;
}

.comment-controls {
  display: flex;
  align-content: center;
  margin-top: 4px;
  max-width: 74%;
}

.comment-controls .reply-button-and-counter {
  color: #6f6c6c;
  font-size: 15px;
  cursor: pointer;
}

.comment-controls .view-reply {
  color: #6f6c6c;
  font-size: 15px;
  cursor: pointer;
  flex: 1;
}

.comment-controls .view-reply i {
  font-size: 8px;
}

.comment-controls .comments-menu {
  color: #6f6c6c;
  font-size: 15px;
  cursor: pointer;
}

.tab-contents .attachments-container {
  margin-top: 5vh;
  margin-left: 2vw;
}

.tab-contents .attachments-container h4 {
  color: var(--alt-text-color);
  font-weight: 600;
  font-size: 20px;
}

.attachment-item {
  overflow: hidden;
  height: 170px;
  width: 150px;
  cursor: pointer;
  transition: all 0.3s;
  padding: 10px;
}

.attachment-item:hover {
  transform: translateY(-5px);
}
